<style>
    .card {
        text-decoration: none;
        color: black;
        box-shadow: 8px black;
        list-style: none;
        margin-bottom: 16px;
    }
    .title {
        display: block;
        font-size: large;
        font-weight: 400;
    }
</style>

<h4>Here are the links to the pages in this section:</h4>
<ul>
    {{ range .Page.Pages }}
        <a href="{{ .RelPermalink }}">
    <li class="card">
            <div class="title">{{ .Title }}:</div>
            {{ .Params.question }}
    </li>
        </a>
    {{end}}
</ul>